# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [2]:
import feedparser

### 1. Use feedparser to parse the following RSS feed URL.

In [3]:
nasa = feedparser.parse('https://www.nasa.gov/content/nasa-rss-feeds')

In [4]:
type(nasa)

feedparser.util.FeedParserDict

### 2. Obtain a list of components (keys) that are available for this feed.

In [5]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'etag', 'updated', 'updated_parsed', 'href', 'status', 'encoding', 'bozo_exception', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [6]:
nasa['feed'].keys()

dict_keys(['html', 'meta', 'links', 'script', 'summary'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [25]:

url_2 = feedparser.parse('https://www.nasa.gov/rss/dyn/breaking_news.rss')


list_solution = [[e['title'], e['link']] for e in url_2.entries]

list_solution

#Couldn´t find author and subtitle for all entries.

[['NASA Welcomes Czech Foreign Minister for Artemis Accords Signing',
  'http://www.nasa.gov/press-release/nasa-welcomes-czech-foreign-minister-for-artemis-accords-signing'],
 ['NASA Sets Coverage for Dragon Port Relocation on Space Station',
  'http://www.nasa.gov/press-release/nasa-sets-coverage-for-dragon-port-relocation-on-space-station'],
 ['Entrepreneurs to Pitch Ideas for Future in NASA ‘Space Tank’',
  'http://www.nasa.gov/press-release/entrepreneurs-to-pitch-ideas-for-future-in-nasa-space-tank'],
 ['NASA Updates Coverage of Roscosmos Spacewalks at Space Station',
  'http://www.nasa.gov/press-release/nasa-updates-coverage-of-roscosmos-spacewalks-at-space-station'],
 ['NASA Sets Coverage for Czech Republic Artemis Accords Signing Ceremony',
  'http://www.nasa.gov/press-release/nasa-sets-coverage-for-czech-republic-artemis-accords-signing-ceremony'],
 ['NASA Experts Available for Interviews About Sea and Sky Campaign',
  'http://www.nasa.gov/press-release/nasa-experts-available-for-interviews-about-sea-and-sky-campaign'],
 ['NASA Announces Winners of 2023 Human Exploration Rover Challenge',
  'http://www.nasa.gov/press-release/nasa-announces-winners-of-2023-human-exploration-rover-challenge'],
 ['NASA Selects 12 Companies to Collaborate on Key Technology Development',
  'http://www.nasa.gov/press-release/nasa-selects-12-companies-to-collaborate-on-key-technology-development'],
 ['NASA Announces Student Winners of Power to Explore Challenge',
  'http://www.nasa.gov/press-release/nasa-announces-student-winners-of-power-to-explore-challenge'],
 ['NASA, Rocket Lab Set Coverage for Tropical Cyclones Mission',
  'http://www.nasa.gov/press-release/nasa-rocket-lab-set-coverage-for-tropical-cyclones-mission']]

### 5. Count the number of entries that are contained in this RSS feed.

In [31]:
print(f'The number of entries is {len(url_2.entries)}')

The number of entries is 10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [32]:
url_2['entries'][0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source', 'dc_identifier'])

### 7. Extract a list of entry titles.

In [39]:

entry_titles=[e.title for e in url_2.entries]

entry_titles

['NASA Welcomes Czech Foreign Minister for Artemis Accords Signing',
 'NASA Sets Coverage for Dragon Port Relocation on Space Station',
 'Entrepreneurs to Pitch Ideas for Future in NASA ‘Space Tank’',
 'NASA Updates Coverage of Roscosmos Spacewalks at Space Station',
 'NASA Sets Coverage for Czech Republic Artemis Accords Signing Ceremony',
 'NASA Experts Available for Interviews About Sea and Sky Campaign',
 'NASA Announces Winners of 2023 Human Exploration Rover Challenge',
 'NASA Selects 12 Companies to Collaborate on Key Technology Development',
 'NASA Announces Student Winners of Power to Explore Challenge',
 'NASA, Rocket Lab Set Coverage for Tropical Cyclones Mission']

### 8. Calculate the percentage of "Four short links" entry titles.

In [ ]:
#Couldn´t find it

### 9. Create a Pandas data frame from the feed's entries.

In [44]:
import pandas as pd

In [47]:
df_nasa = pd.DataFrame(url_2.entries)

df_nasa

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source,dc_identifier
0,NASA Welcomes Czech Foreign Minister for Artem...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-welcome...,During a ceremony at NASA Headquarters in Wash...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-welcome...,False,"Wed, 03 May 2023 10:36 EDT","(2023, 5, 3, 14, 36, 0, 2, 123, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,487001
1,NASA Sets Coverage for Dragon Port Relocation ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,Four crew members aboard the International Spa...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Mon, 01 May 2023 15:06 EDT","(2023, 5, 1, 19, 6, 0, 0, 121, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486960
2,Entrepreneurs to Pitch Ideas for Future in NAS...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/entrepreneur...,College students in NASA’s Minority University...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/entrepreneur...,False,"Thu, 27 Apr 2023 14:02 EDT","(2023, 4, 27, 18, 2, 0, 3, 117, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486922
3,NASA Updates Coverage of Roscosmos Spacewalks ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-updates...,NASA will provide live coverage as two Roscosm...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-updates...,False,"Wed, 26 Apr 2023 14:59 EDT","(2023, 4, 26, 18, 59, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486897
4,NASA Sets Coverage for Czech Republic Artemis ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,The Czech Republic is expected to sign the Art...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Wed, 26 Apr 2023 14:49 EDT","(2023, 4, 26, 18, 49, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486898
5,NASA Experts Available for Interviews About Se...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-experts...,"This spring, NASA’s S-MODE (Sub-Mesoscale Ocea...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-experts...,False,"Wed, 26 Apr 2023 14:09 EDT","(2023, 4, 26, 18, 9, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486894
6,NASA Announces Winners of 2023 Human Explorati...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-announc...,NASA has announced the winners of the 2023 Hum...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-announc...,False,"Wed, 26 Apr 2023 09:04 EDT","(2023, 4, 26, 13, 4, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486884
7,NASA Selects 12 Companies to Collaborate on Ke...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-selects...,NASA has selected 16 proposals from 12 compani...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-selects...,False,"Tue, 25 Apr 2023 14:31 EDT","(2023, 4, 25, 18, 31, 0, 1, 115, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486867
8,NASA Announces Student Winners of Power to Exp...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-announc...,NASA selected three winners out of nine finali...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-announc...,False,"Tue, 25 Apr 2023 10:30 EDT","(2023, 4, 25, 14, 30, 0, 1, 115, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486862
9,"NASA, Rocket Lab Set Coverage for Tropical Cyc...","{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-rocket-...,"NASA and Rocket Lab are targeting 9 p.m. EDT, ...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-rocket-...,False,"Mon, 24 Apr 2023 15:18 EDT","(2023, 4, 24, 19, 18, 0, 0, 114, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486848

### 10. Count the number of entries per author and sort them in descending order.

In [50]:
url_2.entries[0].keys()
#It doesn´t have an author key.

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source', 'dc_identifier'])

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [55]:
df_nasa['title_len']=df_nasa['title'].apply(len)
df_nasa_2= df_nasa.loc[:, ['title', 'title_len']]
df_nasa_2

                                               title  title_len
0  NASA Welcomes Czech Foreign Minister for Artem...         64
1  NASA Sets Coverage for Dragon Port Relocation ...         62
2  Entrepreneurs to Pitch Ideas for Future in NAS...         60
3  NASA Updates Coverage of Roscosmos Spacewalks ...         62
4  NASA Sets Coverage for Czech Republic Artemis ...         70
5  NASA Experts Available for Interviews About Se...         64
6  NASA Announces Winners of 2023 Human Explorati...         64
7  NASA Selects 12 Companies to Collaborate on Ke...         70
8  NASA Announces Student Winners of Power to Exp...         60
9  NASA, Rocket Lab Set Coverage for Tropical Cyc...         59

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [56]:
df_ml = [df_nasa["summary_detail"].str.contains("machine learning")]
df_ml

[0   NaN
 1   NaN
 2   NaN
 3   NaN
 4   NaN
 5   NaN
 6   NaN
 7   NaN
 8   NaN
 9   NaN
 Name: summary_detail, dtype: float64]